table.table.table-striped
  thead
    tr 
      th #
      th title
      th artist
      th download
  tbody
    tr(ng-repeat="song in songs")
      td 0
      td {{song.title}}
      td {{song.artist}}
      td {{song.download}}